/*

    Glowing E animation


 */
.glowing-e {
    width: 7rem;
    height: 7rem;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 2rem;
    background:
        linear-gradient(
                rgb(var(--color-umb-black)),
                rgb(var(--color-umb-black))
            )
            padding-box,
        linear-gradient(
                var(--angle),
                transparent,
                rgba(var(--color-umb-purple), 1)
            )
            border-box;

    animation: 6s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

/*

    Little Pill

*/
.feature-pill-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
}

.feature-pill,
.feature-output-pill {
    padding: var(--space-3xs) var(--space-2xs);
    border-radius: 25px;
    display: inline-flex;
    gap: var(--space-2xs);
    border: 1px solid rgb(var(--color-umb-grey-mid));
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    background: rgb(var(--color-umb-black));
}

.feature-pill svg,
.feature-output-pill svg {
    display: block;
    width: 1rem;
    height: 1rem;
}

.feature-pill-stack {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: max-content;
    gap: var(--space-xs);
    padding-bottom: var(--space-2xl);
}

.feature-ouput-stack {
    padding-top: var(--space-2xl);
    padding-bottom: 0;
}
#gradient-line {
    position: absolute;
    width: 2px;
    background: linear-gradient(
        180deg,
        rgb(var(--color-umb-purple)) 0%,
        rgba(var(--color-umb-purple), 0) 100%
    );
    opacity: 0;
    transform-origin: top;
    bottom: 0;
    left: 50%;
    height: 100px;
    transform: scaleY(0);
}

#gradient-line-output {
    position: absolute;
    width: 2px;
    background: linear-gradient(
        180deg,
        rgb(var(--color-umb-white)) 0%,
        rgba(var(--color-umb-white), 0) 100%
    );
    opacity: 0;
    transform-origin: top;
    top: 0;
    left: 50%;
    height: 100px;
    transform: scaleY(0);
}
.pill-wrapper {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
    text-align: center;
}

.pill-wrapper.visible {
    height: var(--pill-height);
}

.feature-output-pill {
    opacity: 0;
    transform: translateY(-20px);
    border: 1px solid rgb(var(--color-umb-grey));
    transition: border-color 0.3s ease;
}
.feature-output-pill.active {
    border: 2px solid rgb(var(--color-umb-white));
}
.feature-output-stack {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--space-xs);
}
